<div class="unauthenticated">
    
  <div class="form">

    <div class="nombook">
      <a href="/">nombook</a>
    </div>
  
    <a class="logo" href="/"></a>

    <div class="title">
      Edit <%= resource_name.to_s.humanize %>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field text">
        <div class="label">Email</div>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field text">
        <div class="label">New password</div>
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field text">
        <div class="label">New password confirmation</div>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field text">
        <div class="label">Current password</div>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <div class="title">
      Cancel my account
    </div>

    <div class="label">Unhappy?</div>
    <div class="actions">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>

    <%= link_to "Back", :back %>

  </div>
</div>