<div class="unauthenticated">
    
<div class="form">

  <div class="nombook">
    nombook
  </div>

  <div class="logo"></div>

    <div class="title">
      Forgot your password?
    </div>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field text">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
    
      <div class="actions">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>
    
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  
  </div>

</div>


